---
import TitlePrimary from '../../elements/Title/TitlePrimary.astro';

import { Image } from 'astro:assets';
import profileImage01 from '../../../assets/images/index/profile/profile_image01.png';
import iconYoutube from '../../../assets/images/_common/icon/icon_youtube.svg';
import iconX from '../../../assets/images/_common/icon/icon_x.svg';
import iconInstagram from '../../../assets/images/_common/icon/icon_instagram.svg';

const profiles = [
  {
    name: 'Kailani',
    description: `出産を機に激太りし、様々0なダイエット法を試し、失敗を繰り返した過去を持つ。<br>その後、筋トレや食事改善によってダイエットに成功。自身の経験を活かし、現在はパーソナルトレーナーをしており、これまで1000人以上の肉体改造に成功。<br>またYouTubeで1000万回再生された動画を持つ、筋トレインフルエンサーとしても活動している。<br>YouTubeやInstagramではトレーニングやダイエットに良い食事法を発信している。`,
    sns: [
      { icon: iconYoutube, link: '' },
      { icon: iconX, link: '' },
      { icon: iconInstagram, link: '' },
    ],
    image: profileImage01,
    alt: 'alt01',
  },
];
---

<section id="profile" class="profile">
  <div class="profile__inner inner-secondary">
    <div class="profile__head">
      <TitlePrimary title="OWNER’S PROFILE" subTitle="代表プロフィール" />
    </div>
    <div class="profile__boxes">
      {
        profiles.map((profile) => (
          <div class="profile__box">
            <div class="profile__box--body">
              <div class="profile__box--body--head">
                <h3 class="profile__box--body--head--heading3">
                  {profile.name}
                </h3>
                <div class="profile__box--body--head--sns">
                  {profile.sns.map((snsItem) => (
                    <div class="profile__box--body--head--sns--item">
                      <a href={snsItem.link}>
                        <Image src={snsItem.icon} alt="" />
                      </a>
                    </div>
                  ))}
                </div>
              </div>
              <div class="profile__box--body--text-wrap">
                <p
                  class="profile__box--body--text"
                  set:html={profile.description}
                />
              </div>
            </div>
            <div class="profile__box--image-wrap">
              <Image src={profile.image} alt={profile.alt} />
            </div>
          </div>
        ))
      }
    </div>
    <div class="profile__message js-fadeInUp">
      <h4 class="profile__message--heading4">Message</h4>
      <div class="profile__message--text-wrap">
        <p class="profile__message--text">
          MELIA
          FITNESSではあなたに合った身体の動かし方や食生活の大切さをプロのトレーナーがマンツーマンでサポートいたします。
          <br
          />継続することができて挫折しないボディメイク・ダイエットに自信があります。
          <br />ぜひMELIA FITNESSで身体づくりの素晴らしさを体験してください。
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .profile {
    padding-top: 192px;
  }

  .profile__head {
    text-align: center;
  }

  .profile__boxes {
    margin-top: 80px;
  }

  .profile__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .profile__box--body {
    max-width: calc((428 / 878) * 100%);
    width: 100%;
  }

  .profile__box--body--head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile__box--body--head--heading3 {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  .profile__box--body--head--sns {
    display: flex;
    gap: 24px;
  }

  .profile__box--body--head--sns--item:hover a {
    transform: rotate(360deg);
    transition: all 0.6s ease;
  }

  .profile__box--body--text-wrap {
    margin-top: 32px;
  }

  .profile__box--body--text {
    line-height: 32px;
  }

  .profile__box--image-wrap {
    max-width: calc((360 / 878) * 100%);
    width: 100%;
  }

  .profile__message {
    margin-top: 80px;
    padding-block: 54px;
    border: 1px solid var(--borderPrimary);
  }

  .profile__message--heading4 {
    text-align: center;
    font-size: 56px;
    font-family: var(--fontAllura);
    color: var(--textSecondary);
    letter-spacing: 0.1em;
    line-height: calc(56 / 40);
  }

  .profile__message--text-wrap {
    margin-top: 20px;
    max-width: calc(700px + 20px * 2);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
  }

  .profile__message--text {
    line-height: calc(32 / 16);
    letter-spacing: 0.1em;
  }

  @media (max-width: 768px) {
    .profile__box {
      flex-direction: column-reverse;
    }

    .profile__box--body,
    .profile__box--image-wrap {
      max-width: 80%;
      margin-inline: auto;
    }

    .profile__box--body {
      margin-top: 32px;
    }
  }

  @media (max-width: 599px) {
    .profile__box--body,
    .profile__box--image-wrap {
      max-width: 100%;
    }
  }

  @media (max-width: 599px) {
    .profile {
      margin-top: 96px;
			padding-top: 0;
    }

    .profile__boxes {
      margin-top: 40px;
    }

    .profile__box--body--text-wrap {
      margin-top: 24px;
    }

    .profile__box--body--text {
      line-height: calc(28.8 / 16);
    }

    .profile__message {
      margin-top: 48px;
      padding-block: 24px;
    }

    .profile__message--heading4 {
      font-size: clamp(2.5rem, 2.148rem + 1.5vw, 3.5rem);
    }

    .profile__message--text-wrap {
      margin-top: 16px;
    }

    .profile__message--text {
      line-height: calc(28.8 / 16);
    }
  }
</style>
